<!DOCTYPE html>
<html lang="zh">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>身份认证信息系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- STYLESHEETS --><!--[if lt IE 9]><script src="js/flot/excanvas.min.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="css/cloud-admin.css" >
	<link rel="stylesheet" type="text/css"  href="css/themes/default.css" id="skin-switcher" >
	<link rel="stylesheet" type="text/css"  href="css/responsive.css" >

	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- DATE RANGE PICKER -->
	<link rel="stylesheet" type="text/css" href="js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
	<!-- TABLE CLOTH -->
	<link rel="stylesheet" type="text/css" href="js/tablecloth/css/tablecloth.min.css" />

	<!-- ANIMATE -->
	<link rel="stylesheet" type="text/css" href="css/animatecss/animate.min.css" />
	<!-- HUBSPOT MESSENGER -->
	<link rel="stylesheet" type="text/css" href="js/hubspot-messenger/css/messenger.min.css" />
	<link rel="stylesheet" type="text/css" href="js/hubspot-messenger/css/messenger-spinner.min.css" />
	<link rel="stylesheet" type="text/css" href="js/hubspot-messenger/css/messenger-theme-air.min.css" />
	<link rel="stylesheet" type="text/css" href="js/hubspot-messenger/css/messenger-theme-block.min.css" />
	<link rel="stylesheet" type="text/css" href="js/hubspot-messenger/css/messenger-theme-flat.min.css" />
	<link rel="stylesheet" type="text/css" href="js/hubspot-messenger/css/messenger-theme-future.min.css" />
	<link rel="stylesheet" type="text/css" href="js/hubspot-messenger/css/messenger-theme-ice.min.css" />

</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix" id="header">
		<div class="container">
				<div class="navbar-brand">
					<!-- COMPANY LOGO -->
					<span style="color: white">身份认证后台管理系统</span>
					<!-- /COMPANY LOGO -->
					<!-- TEAM STATUS FOR MOBILE -->
					<div class="visible-xs">
						<a href="#" class="team-status-toggle switcher btn dropdown-toggle">
							<i class="fa fa-users"></i>
						</a>
					</div>
					<!-- /TEAM STATUS FOR MOBILE -->
				</div>

				<!-- BEGIN TOP NAVIGATION MENU -->
				<ul class="nav navbar-nav pull-right" style="min-width: 0px;">
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user" id="header-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img alt="" src="img/timg.jpeg" />
							<span class="username">管理员</span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="fa fa-user"></i> 个人资料</a></li>
							<li><a href="#"><i class="fa fa-cog"></i> 密码修改</a></li>
							<li><a href="#"><i class="fa fa-power-off"></i> 退出</a></li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU -->
		</div>

	</header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
			<!-- SIDEBAR -->
			<div id="sidebar" class="sidebar">
				<div class="sidebar-menu nav-collapse">
					<div class="divide-20"></div>

					<!-- SIDEBAR MENU -->
					<ul>
						<li class="has-sub active">
							<a href="javascript:;" class="">
							<i class="fa fa-table fa-fw"></i> <span class="menu-text">数据表</span>
							<span class="arrow open"></span>
							<span class="selected"></span>
							</a>
							<ul class="sub">
								<li><a class="" href="dev_info_table.html"><span class="sub-menu-text">设备信息表</span></a></li>
								<li><a class="" href="user_info_table.html"><span class="sub-menu-text">用户信息表</span></a></li>
								<li><a class="" href="auth_info_table.html"><span class="sub-menu-text">授权信息表</span></a></li>
								<li><a class="" href="house_info_table.html"><span class="sub-menu-text">房屋信息表</span></a></li>
								<li><a class="" href="visitors_info_table.html"><span class="sub-menu-text">访客信息表</span></a></li>
							</ul>
						</li>
					</ul>
					<!-- /SIDEBAR MENU -->
				</div>
			</div>
			<!-- /SIDEBAR -->
		<div id="main-content">
			<!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					  <h4 class="modal-title">添加访客信息</h4>
					</div>
					<div class="modal-body">
						<form id="addForm">
							<div class="form-group">
								<label for="idcard">访客身份证号</label>
								<input type="text" class="form-control" name="idcard" id="idcard" placeholder="访客身份证号" required>
							</div>
							<div class="form-group">
								<label for="username">访客姓名</label>
								<input type="text" class="form-control" name="username" id="username" placeholder="访客姓名" required>
							</div>
							<div class="form-group">
								<label for="imagepath">联系电话</label>
								<input type="text" class="form-control" name="imagepath" id="imagepath" placeholder="图像地址" required>
							</div>
							<div class="form-group">
								<label for="mobilephone">联系电话</label>
								<input type="text" class="form-control" name="mobilephone" id="mobilephone" placeholder="访客姓名" required>
							</div>
							<div class="form-group">
								<label for="houseSelectorId">房屋</label>
								<select class="form-control" name="houseid" id="houseSelectorId" >
									<option v-for="houseInfo in houseInfoMap" :value="houseInfo.HOUSEID" >
										{{ houseInfo.HOUSEINFO }}
									</option>
								</select>
							</div>
							<div class="form-group">
								<label for="validatetime">生效时间</label>
								<input type="text" class="form-control" name="validatetime" id="validatetime" placeholder="YYYYMMDDHHmmss" required>
							</div>
							<div class="form-group">
								<label for="_duration">有效时长（分钟）</label>
								<input type="text" class="form-control" name="_duration" id="_duration" placeholder="有效时长（分钟）" required>
							</div>
						</form>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					  <button type="button" class="btn btn-primary" onclick="save()">保存</button>
					</div>
				  </div>
				</div>
			  </div>
			<!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->

            <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">注意</h4>
                        </div>
                        <input type="hidden" id="deleteId"/>
                        <div class="modal-body">
                            确认删除该信息？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" onclick="deleteInfo()">确定</button>
                        </div>
                    </div>
                </div>
            </div>

			<div class="container">
				<div class="row">
					<div id="content" class="col-lg-12">
						<!-- PAGE HEADER-->
						<div class="row">
							<div class="col-sm-12">
								<div class="page-header">
									<!-- STYLER -->

									<!-- /STYLER -->
									<!-- BREADCRUMBS -->
									<ul class="breadcrumb">
										<li>
											<i class="fa fa-home"></i>
											<a href="index.html">主页</a>
										</li>
										<li>
											<a href="#">数据表</a>
										</li>
										<li>授权信息表</li>
									</ul>
									<!-- /BREADCRUMBS -->
									<div class="clearfix">
										<h3 class="content-title pull-left">授权信息表</h3>
									</div>
									<div class="description">记录授权信息</div>
								</div>
							</div>
						</div>
						<!-- /PAGE HEADER -->
						<!-- SIMPLE STRIPED -->
						<div class="row">

							<div class="col-md-12">
								<!-- BOX -->
								<div class="box border blue">
									<div class="box-title">
										<h4><i class="fa fa-table"></i>授权信息</h4>
										<div class="tools">
                                            <a href="#addModal" onclick="getHouseInfo();" data-toggle="modal" class="config">
												<i class="fa fa-plus-circle">&nbsp;新增</i>
											</a>
										</div>
									</div>
									<div class="box-body">
										<table class="table table-striped">
											<thead>
											  <tr>
												<th>序号</th>
												<th>访客身份证</th>
												<th>访客姓名</th>
												<th>图像地址</th>
												<th>联系电话</th>
												<th>房屋ID（备案号）</th>
											  	<th>房屋信息</th>
												<th>房屋地址</th>
												<th>生效时间</th>
												<th>生效时长（分钟）</th>
                                                <th>操作</th>
											  </tr>
											</thead>
											<tbody id="tbody_visitors_info">
											  <tr v-for="(index, visitorInfo) in visitorInfoList">
												<td>{{ (index + 1) }}</td>
												<td>{{ visitorInfo.IDCARD }}</td>
												<td>{{ visitorInfo.USERNAME }}</td>
												<td>{{ visitorInfo.IMAGEPATH }}</td>
												<td>{{ visitorInfo.MOBILEPHONE }}</td>
												<td>{{ visitorInfo.HOUSEID }}</td>
												<td>{{ visitorInfo.HOUSEINFO }}</td>
											  	<td>{{ visitorInfo.HOUSEADDR }}</td>
											  	<td>{{ visitorInfo.VALIDATETIME }}</td>
											  	<td>{{ visitorInfo.DURATION }}</td>
                                                <td>
                                                    <a href="javascrpt:void(0);" onclick="$('#deleteConfirm').modal();$('#deleteId').val('{{ visitorInfo.AUTHID }}')" ><i class="fa fa-times" aria-hidden="true">&nbsp;删除</i></a>
                                                </td>
											  </tr>
											</tbody>
										  </table>
									</div>
								</div>
								<!-- /BOX -->
							</div>
						</div>
						<!-- SIMPLE STRIPED -->
						<!-- /BORDERED HOVER -->
						<div class="separator"></div>
						<!-- /BORDERED HOVER -->
					</div>
				<div class="separator"></div>
			</div>
		</div>
	</section>
	<div class="modal fade" style="overflow:auto; position:fixed;top:50%; left:50%; z-index:1040" id="loadingmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<img src="img/loaders/17.gif">
	</div>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<script src="js/jquery/jquery-2.0.3.min.js"></script>
	<!-- BOOTSTRAP -->
	<script src="bootstrap-dist/js/bootstrap.min.js"></script>


	<!-- DATE RANGE PICKER -->

	<!-- TABLE CLOTH -->
	<script type="text/javascript" src="js/tablecloth/js/jquery.tablecloth.js"></script>
	<script type="text/javascript" src="js/tablecloth/js/jquery.tablesorter.min.js"></script>
	<!-- COOKIE -->
	<script type="text/javascript" src="js/jQuery-Cookie/jquery.cookie.min.js"></script>
	<!-- VUE SCRIPT -->
	<script type="text/javascript" src="js/vue.min.js"></script>

	<!-- HUBSPOT MESSENGER -->
	<script type="text/javascript" src="js/hubspot-messenger/js/messenger.min.js"></script>
	<script type="text/javascript" src="js/hubspot-messenger/js/messenger-theme-flat.js"></script>
	<script type="text/javascript" src="js/hubspot-messenger/js/messenger-theme-future.js"></script>
	<script type="text/javascript" src="js/customs.js"></script>

	<!-- /JAVASCRIPTS -->


	<script type="text/javascript">
		var vue_houseSelector = new Vue({
			el: '#houseSelectorId',
			data: {
				houseInfoMap: {}
			}
		});

		
		var vue_tbody_visitors_info = new Vue({
			el: '#tbody_visitors_info',
			data: {
				visitorInfoList: []
			},
			methods: {
				strContain: function(mainStr, subStr) {
					return mainStr.indexOf(subStr) > -1;
				}
			}
		});

		function getAll() {
			$.ajax({
				url: 'http://localhost:9666/visitorsInfo/getAll',
				type: 'GET',
				dataType: 'JSONP',
				jsonpCallback: 'jsonpCallback',
				success: function(data) {
					vue_tbody_visitors_info.visitorInfoList = data;
					$('#loadingmodal').modal('hide');
				},
				error: function() {
					showHint('系统出错！', 'error');
					$('#loadingmodal').modal('hide');
				}
			});
		}

		function save() {
			$.ajax({
				type: "GET",
				dataType: "JSONP",
				url: 'http://localhost:9666/visitorsInfo/save',
				data: $('#addForm').serialize(),
				jsonpCallback: 'jsonpCallback',
				success: function (result) {
                    $('#addModal').modal('hide');
					if (result.rtnCode != 'SUCCESS') {
						showHint('保存失败！' + result.rtnMsg, 'error');
						return;
					}
					showHint('保存成功！');
					$('#loadingmodal').modal();
					getAll();
				},
				error: function() {
                    $('#addUser').modal('hide');
					showHint('保存失败！', 'error');
				}
			});
		}

		function deleteInfo() {
            $.ajax({
                type: "GET",
                dataType: "JSONP",
                url: 'http://localhost:9666/visitorsInfo/deleteById',
				jsonpCallback: 'jsonpCallback',
                data: {authid:$('#deleteId').val()},
                success: function (result) {
                    $('#deleteConfirm').modal('hide');
                    if (result.rtnCode != 'SUCCESS') {
						showHint('保存失败！' + result.rtnMsg, 'error');
                        return;
                    }
                    showHint('删除成功！', 'info');
                    $('#loadingmodal').modal();
                    getAll();
                },
                error: function() {
                    $('#deleteConfirm').modal('hide');
					showHint('保存失败！', 'error');
                }
            });
        }

		function getHouseInfo() {
			$.ajax({
				type: "GET",
				dataType: 'JSONP',
				url: "http://localhost:9666/houseInfo/getAll",
				success: function(data) {
					vue_houseSelector.houseInfoMap = data;
				},
				error: function() {
					showHint('系统错误，获取房屋信息失败！', 'error');
				}
			});
		}

	</script>


	<script type="text/javascript">
		(function () {
			$('#loadingmodal').modal();
			getAll();
		})();
	</script>
</body>
</html>